/* Styles for contact page  */
.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--button-color);
  width: 100%; /* Full width of the container */
  max-width: 500px; /* Maximum width of the content area */
  margin: 70px auto; /* Centers the content */
  box-shadow: -3px 4px 10px rgba(180, 114, 255, 0.5);
  border: 1px solid #130041; 
  border-radius: 10px; /* Optional: Rounds the corners */
}

.contact-page a p {
  display: block; /* Makes each link a block element */
  margin-bottom: 10px; /* Adds space below each link */
}

.git {
  margin-bottom: 8px;
}

.link {
  margin: 5px;
}

p {
  font-size: 22px;
}

.contact-page a:last-child {
  margin-top: 15px;
}


/* If you want to maintain the full-width background on smaller screens */
@media (max-width: 800px) {
  .contact-page {
    width: 100%;
    max-width: 100%;
    border-radius: 0; /* Removes border radius for full-width layout on small screens */
  }
}

