/* Styles for portfolio page  */
.portfolio-page {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align items horizontally */
  width: 100%; /* Take full width */
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Creates 3 columns with equal width */
  grid-template-rows: auto auto; /* Creates as many rows as needed */
  grid-gap: 20px; /* Adjust the gap between grid items */
  width: 90%; /* Adjust the width as needed */
  margin-top: 20px; /* Space between the title and the grid */
}

.portfolio-item {
  position: relative;
  z-index: 1;
  background-color: var(--button-color);
  border: 1px solid #130041; 
  padding: 10px;
  border-radius: 10px; /* Example style */
  box-shadow: -3px 4px 10px rgba(180, 114, 255, 0.5); /* Optional: Adds shadow for depth */
  overflow: hidden; /* To manage content overflow */
  transition: transform 0.3s ease-in-out; /* Smooth transformation */
}

.portfolio-item.project2 p{
  margin-top: 40px;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  font-size: 30px;
}
.short-description {
  display: flex;
  justify-content: center;
  align-items:  center;
  
}

.static-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.portfolio-item .gif-img,
.portfolio-item .extended-content {
  display: none; /* Hide GIF and extended content by default */
}

.gif-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.portfolio-item:hover {
  z-index: 10;
  transform: scale(1.8); /* Enlarge the item on hover */
}

.portfolio-item.right:hover {
  transform-origin: right center;
}
.portfolio-item.left:hover {
  transform-origin: left center;
}
.portfolio-item.center:hover {
  transform-origin: center center;
}

.portfolio-item:hover .static-img {
  display: none; /* Hide the static image on hover */
}

.portfolio-item:hover .gif-img,
.portfolio-item:hover .extended-content {
  display: block; /* Show the GIF and extended content on hover */
}

/* Style for the h2 heading */
.portfolio-page h2 {
  text-align: center; /* Center the text */
  width: 100%; /* Full width to ensure centering */
  margin-top: 20px; /* Space above the title */
}
@media (max-width: 1024px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
    width: 80%;
  }
  .static-img {
    width: 100%; /* Adjust image size for tablet view */
  }
  .portfolio-item:hover {
    max-width: 100%;
  }
  .portfolio-item.project2:hover {
    transform-origin: right center;
  }
  .portfolio-item.project3:hover {
    transform-origin: left center;
  }  
  .portfolio-item.project4:hover {
    transform-origin: right center;
  }
  .portfolio-item.project5:hover {
    transform-origin: left center;
  }

}
@media (max-width: 750px) {
  .portfolio-container {
    grid-template-columns: 1fr; /* 1 column for mobile */
    max-width: 80%;
    align-items: center;
  }
  .portfolio-item:hover {
    max-width: 60%;
  }
  .portfolio-item.right:hover {
    transform-origin: center center;
  }
  .portfolio-item.left:hover {
    transform-origin: center center;
  }
  .portfolio-item.center:hover {
    transform-origin: center center;
  }
  .static-img {
    width: 100%; /* Adjust image size for mobile view */
  }
}
