/* Styles for Resume page  */
.resume-page {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically (if needed) */
  width: 100%; /* Takes full width of the container */
  margin: 25px auto;
  padding: 20px; /* Adds some padding around the content */
  box-sizing: border-box; /* Includes padding in width calculation */
}

.resume-page h2,
.resume-page h3,
.resume-page p,
.resume-page a,
.resume-page ul {
  width: 100%; /* Ensures full width */
  max-width: 800px; /* Maximum width of the content */
  text-align: center; /* Center-aligns the text */
  margin-bottom: 20px; /* Space between elements */
}

.resume-page ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
}

.resume-page li {
  margin-bottom: 10px; /* Space between list items */
}
