/* General Root Styles */
:root {
  --primary-text-color: #ffffff;
  --primary-bg-color: #1f1f1f;
  --accent-color: #ffffff;
  --hover-accent-color: #6e0000;
  --button-color: rgb(0, 0, 0);
  --box-shadow-color: 3px 4px 10px rgb(68, 0, 0);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 1000;
  font-size: 20px;
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-accent-color);
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: var(--primary-text-color);
}

header {
  width: 100%;
  padding: 20px 20px;
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Video Background Styles */
video#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%) scale(.50);
  background-size: cover;
  transition: 1s opacity;
}

@media (pointer: coarse) and (hover: none) {
  video#bg-video {
    display: none;
  }
}

/* Additional Styles */
.title {
  font-size: 2.5em;
  margin-left: 10%;
  padding: 15px 30px;
  background-color: var(--button-color);
  border-radius: 15px;
  box-shadow: var(--box-shadow-color);
  border: 1px solid #130041;
}

.linkList {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 20px;
  margin-right: 100px;
  gap: 20px;
}

nav ul li {
  display: flex;
  background-color: var(--button-color);
  box-shadow: var(--box-shadow-color);
  border: 1px solid #130041;
  margin: 10px;
  padding: 17px;
  border-radius: 15px;
}

main {
  flex: 1;
  padding: 20px;
  width: 98%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 45px;
  padding: 20px 50px;
  margin-top: 5%;
  width: 95%;
  text-align: center;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
}

/* Home.css */
.home-container {
  text-align: center;
  padding: 50px;
}
.home-title {
  font-size: 36px;
}

/* AboutMe.css */
.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 250px;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
}
.selfie, .about-me-page {
  flex: 1;
  text-align: center;
}
.selfie {
  max-width: 400px;
}
.about-me-page {
  max-width: 400px;
  padding: 20px;
  background-color: var(--button-color);
  box-shadow: var(--box-shadow-color);
  border-radius: 15px;
}
.about-me-page h2, .about-me-page p {
  margin-bottom: 20px;
}

/* Portfolio.css */
.portfolio-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.project-description {
  font-size: small;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  width: 90%;
  margin-top: 20px;
}
.portfolio-item {
  position: relative;
  background-color: var(--button-color);
  border: 1px solid #130041;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-color);
  overflow: hidden;
  transition: transform 0.8s ease-in-out;
}
.portfolio-item:hover {
  z-index: 10;
  transform: scale(1.1);
}
.portfolio-item .media-container {
  position: relative;
}
.static-img, .gif-img {
  width: 100%;
  border-radius: 10px;
}
.gif-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.portfolio-item:hover .static-img {
  display: none;
}
.portfolio-item:hover .gif-img {
  display: block;
}

@media (max-width: 1024px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
  .portfolio-item:hover {
    transform: scale(1.05);
  }
}

/* Contact.css */
.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--button-color);
  width: 100%;
  max-width: 500px;
  margin: 70px auto;
  box-shadow: var(--box-shadow-color);
  border: 1px solid #130041;
  border-radius: 10px;
}
.contact-page a p {
  display: block;
  margin-bottom: 10px;
}
.git {
  margin-bottom: 8px;
}
.link {
  margin: 5px;
}
p {
  font-size: 22px;
}
.contact-page a:last-child {
  margin-top: 15px;
}

@media (max-width: 800px) {
  .contact-page {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}

/* Resume.css */
.resume-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  box-sizing: border-box;
}
.resume-page h2, .resume-page h3, .resume-page p, .resume-page a, .resume-page ul {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-bottom: 20px;
}
.resume-page ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.resume-page li {
  margin-bottom: 10px;
}
