/* Styles for contact page  */
.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--button-color);
  width: 100%; /* Full width of the container */
  max-width: 500px; /* Maximum width of the content area */
  margin: 0 auto; /* Centers the content */
  box-shadow: -3px 4px 10px rgba(180, 114, 255, 0.5); /* Optional: Adds shadow for depth */
  border-radius: 10px; /* Optional: Rounds the corners */
}

/* If you want to maintain the full-width background on smaller screens */
@media (max-width: 800px) {
  .contact-page {
    width: 100%;
    max-width: 100%;
    border-radius: 0; /* Removes border radius for full-width layout on small screens */
  }
}


form {
  padding: 5px;
}

button {
  margin-left: 30%;
}

.message,
.email,
.name {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  padding-right: 20px;
}

/* Styles for portfolio page  */
.portfolio-page {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align items horizontally */
  width: 100%; /* Take full width */
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Creates 3 columns with equal width */
  grid-template-rows: auto auto; /* Creates as many rows as needed */
  grid-gap: 20px; /* Adjust the gap between grid items */
  width: 100%; /* Adjust the width as needed */
  max-width: 1200px; /* Adjust the max width as needed */
  margin-top: 20px; /* Space between the title and the grid */
}

.portfolio-item {
  position: relative;
  /* Styles for each portfolio item */
  border: 1px solid #ccc; /* Example style */
  padding: 10px;
  border-radius: 10px; /* Example style */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Example style */
  overflow: hidden; /* To manage content overflow */
  transition: transform 0.3s ease-in-out; /* Smooth transformation */
}

.portfolio-item .gif-img,
.portfolio-item .extended-content {
  display: none; /* Hide GIF and extended content by default */
}

.portfolio-item:hover {
  transform: scale(1.1); /* Enlarge the item on hover */
}

.portfolio-item:hover .static-img {
  display: none; /* Hide the static image on hover */
}

.portfolio-item:hover .gif-img,
.portfolio-item:hover .extended-content {
  display: block; /* Show the GIF and extended content on hover */
}

/* Style for the h2 heading */
.portfolio-page h2 {
  text-align: center; /* Center the text */
  width: 100%; /* Full width to ensure centering */
  margin-top: 20px; /* Space above the title */
}

/* Styles for Resume page  */
.resume-page {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically (if needed) */
  width: 100%; /* Takes full width of the container */
  padding: 20px; /* Adds some padding around the content */
  box-sizing: border-box; /* Includes padding in width calculation */
}

.resume-page h2,
.resume-page h3,
.resume-page p,
.resume-page a,
.resume-page ul {
  width: 100%; /* Ensures full width */
  max-width: 800px; /* Maximum width of the content */
  text-align: center; /* Center-aligns the text */
  margin-bottom: 20px; /* Space between elements */
}

.resume-page ul {
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
}

.resume-page li {
  margin-bottom: 10px; /* Space between list items */
}

.about-me-page {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically (if needed) */
  width: 100%; /* Takes full width of the container */
  padding: 20px; /* Adds some padding around the content */
  box-sizing: border-box; /* Includes padding in width calculation */
}

.about-me-page h2, .about-me-page p {
  width: 100%; /* Ensures full width */
  max-width: 800px; /* Maximum width of the content */
  text-align: center; /* Center-aligns the text */
  margin-bottom: 20px; /* Space between elements */
}

/* Additional styling as needed */
